html, body{
    margin: 0;
    padding: 0;
}

h1, p{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

#main{
    background: url("./Imgur.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
}

#contents{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    color: white;
    text-align: center;
}

#contents h1{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    margin-bottom: 16px;
}

#contents p{
    font-size: 23px;
    margin-bottom: 16px;
}

#contents a{
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.5s;
}

#contents a:hover{
    background-color: orange;
}

@media(max-width:769px){
    #contents h1{
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
    }
    
    #contents p{
        font-size: 20px;
    }

    #contents a{
        font-size: 14px;
    }
}
